@model IEnumerable<TicketMovie.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    int numOfQuantity = 1;
}

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">

            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card gap-3" style="width: 18rem">
                        <img src="@item.ImageUrl" class="card-img-top" alt="..." style="height: 300px">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <div class="d-flex">
                                <span>Price: </span>
                                <p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
                            </div>
                            <button class="btn btn-outline-dark addToCartBtn" data-product-id="@item.Id"><i class="bi-cart-fill me-1"></i>Add To Cart</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.querySelectorAll('.addToCartBtn').forEach(button => {
        button.addEventListener('click', function () {
            const productId = button.getAttribute('data-product-id');

            Swal.fire({
                title: 'Add To Cart?',
                text: 'Are you sure you want to add this item to the cart?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, add it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to AddToCart action
                    window.location.href = '/ShoppingCart/AddToCart?productId=' + productId + '&quantity=' + @numOfQuantity;
                }
            });
        });
    });
</script>
